body{
    /* background-color: rgb(132, 132, 204); */
    background-image:url(../images/index.jpg);
    background-repeat:no-repeat;
    background:cover;
    background-size: cover;
    
}
.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    

}


/*LOGO*/

.ramda-logo {
    margin-top: 50px;
    display: inline-block;
    /* margin-top: 40px ; */
    color: #0c8f3e;
    font-family: "Myriad Pro", sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-decoration: none;
    
}
.special-in-logo {
    font-family: "Myriad Pro", sans-serif;
    color: #8d9431;
}
.logo-link{
    text-decoration: none;
}
/*LOGO End*/

/* Navbar */

    .top-navbar-menu{
        
        /* margin-top: 50px; */
        background-color:#35444f;
        border-radius: 10px;
        text-align: center;
        height: 70px;
    }

    .navbar-menu-item{
        display: inline-block;
        /* margin-top: 23px;
        margin-bottom: 23px; */
        
       
        
    }
    .navbar-menu-item:hover{
        border-right: 1px solid red;
        border-left: 1px solid red;
        background-color:grey;
    } 
    

    .navbar-menu-link{
        display: inline-block;
        font-family: 'Myriad Pro', sans-serif;
        color:#ffffff;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        margin-right: 22px;
        margin-left: 22px;
        margin-top: 23px;
        margin-bottom: 23px;
       
    }

    /* General Page */
        .text-general-page{
            padding-top: 30px;
            text-align: center;
            font-size: 28px;
            font-family: 'Lato', sans-serif;
            
            
        }

        .general-table{
            margin-top: 30px;
           
            
        }

        .main-table{
            width: 999px;
            margin: 0 auto;
            height: 310px;
            background-image:url(../images/проросшие\ зерна.jpg);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px
            
            
        }
        .table-part{
            width: 333px;
          
            /* background-image: url(../images/SOLOD-NEW\ [640x480]-500x500.png); */
            background-repeat: no-repeat;
            font-size: 30px;
            /* background-color: rgb(133, 58, 58); */
            padding-top: 30px;
            text-transform: uppercase;
            /* background-image:url(../images/проросшие\ зерна.jpg); */
            color: rgb(42, 48, 40);


            
            

        }

    /* General Page */
  
    
/*Navbar End*/

/*Leftbar*/
.content-page{
    margin-top: 50px;
    
}

        .left-bar-menu{
            display: inline-block;
            width: 344px;
            height: 396px;
            border: 1px solid transparent;
            margin-top: 50px;
        }

        .bar-menu-item{
            display: inline-block;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 45px; 
            width: 279px; 
            

        }

        .bar-menu-link{
        display: inline-block;
        font-family: 'Myriad Pro',sans-serif;
        color:#485863;
        font-size: 29px;
        font-weight: 400;
        text-decoration: none;
       

        }

        .bar-menu-item:hover{
            background-color:rgb(117, 211, 235);
            padding-left: 65px;
            border: 1px solid orange;
            
        }
        
/*Leftbar End*/


/* Block-with-image*/
        .block-with-image{
            display: inline-block;
            width: 600px;
            height: 600px;
            border: 1px solid transparant;
            float: right;
            margin-top: 50px;
            text-align: center;
        }
        
        .main-page-image{
            display: inline-block;
            margin-top: 47px;
            margin-bottom: 47px;
        }
        .main-page-image:hover{
            -webkit-transform: scale(1.2,1.2);
            -webkit-transition-timing-function: ease-out;
            -webkit-transition-duration: 550ms;
            -moz-transform: scale(1.2,1.2);
            -moz-transition-timing-function: ease-out;
            -moz-transition-duration: 550ms;
        }

/* Block-with-image End*/

/* Main text on page */
        .name-product{
            display: inline-block;
            margin-top: 50px;
            margin-left: 50px;
            color: #8d9431;
            font-size: 30px;
        }

        .main-text-on-page{
            display: inline-block;
            font-family: sans-serif;
            font-size: 20px;
            color: #2c2b2b;
            font-weight: 400;
            margin-top: 40px;
            width: 815px;
            
            margin-left: 50px;
            line-height: 22px;
            
                   
           
           
        }

        .second-paragraph{
            margin-top: 30px;
            padding-bottom: 20px;
        }
        .line{
            margin-top: 25px;
            color: orange;
            
           
        }


/* Main taxt on page*/


        .footer-menu{
           
            background-color: grey;
            margin-top: 30px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .footer-item{
            display: inline-block;
            
            
            
            
        }

        .footer-link{
            display: inline-block;
            font-family: 'Myriad Pro', sans-serif;
            color:#ffffff;
            font-size: 22px;
            font-weight: 400;
            text-decoration: none;
            
            margin: 23px 18px;
        }

        .footer-item:hover{
            background-color: black;

            
        }
        .special-in-footer:hover{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

        }

        .copyright{
            display: inline-block;
            margin-left:10px;
            font-family: 'Myriad Pro',sans-serif;
            color:#010000;
            font-size: 15px;
            font-weight: 400;

            
        }

        







